/* 公共样式 */

.cleafix::before,
.cleafix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}